<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h1>Conditional statements executing successfully</h1>
	<h1>User is <span th:stytle="${isActive} ? 'color:green': 'color:red'"  
	th:text="${isActive}? 'ACTIVE': 'NOT ACTIVE' "></span></h1>
	
	<!--<h1 th:if="${gender}=='M'>Male</h1>
	<h1 th:unless="${gender}=='M'>Female</h1>-->
	
	<div th:switch="${#lists.size(myList)}">
		<h1 th:case="'0'">List contains zero elements</h1>
		<h1 th:case="'1'">List contains one element</h1>
		<h1 th:case="*">List contains more than one element</h1>
	</div>
	
</body>
</html>